@keyframes next-anim {
    0% {
        filter: blur(20px);
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        filter: blur(0px);
        opacity: 1;
        transform: translateX(0px);
    }
}

.nextAnim {
    animation: next-anim 300ms cubic-bezier(0.76, 0, 0.24, 1);
}

@keyframes prev-anim {
    0% {
        filter: blur(20px);
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        filter: blur(0px);
        opacity: 1;
        transform: translateX(0px);
    }
}

.prevAnim {
    animation: prev-anim 300ms cubic-bezier(0.76, 0, 0.24, 1);
}

pre {
    will-change: filter, transition, opacity;
}
