.wrapper {
	--padding: 20px;
	background-color: #1e293b;
	color: white;
	display: flex;
	flex-direction: column;
	padding: var(--padding);
	align-items: center;
	min-height: calc(100vh - calc(var(--padding) * 2));
}

.header {
	display: flex;
	place-content: center;
	flex-direction: column;
	align-items: center;
}

.header svg {
	display: flex;
	margin-bottom: 10px;
	width: 30px;
	height: 30px;
}

.title {
	color: white;
	font-size: 2.225rem;
	margin: 10px 0 20px 0px;
	text-align: center;
}

.navButton {
	background-color: #232f43;
	padding: 0.4em 0.8em;
	border-radius: 1em;
	margin: 10px;
	border: none;
	cursor: pointer;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	border: 1px solid #bbcce84f;
	transition: background-color 100ms ease-out;
}

@media (hover: hover) {
	.navButton:hover {
		background-color: rgba(99, 88, 238, 0.4);
	}

	.codeButton:hover {
		background-size: 150%;
		transform: scale(1.15);
	}

	.chevronIcon:hover {
		background-color: #6558ee;
	}
}

.navButtonActive {
	pointer-events: none;
	background-color: rgba(99, 88, 238, 1);
}

.codeButton {
	background-image: linear-gradient(
		83.2deg,
		rgba(150, 93, 233, 1) 10.8%,
		rgba(99, 88, 238, 1) 94.3%
	);
	border: 2px solid #bbcce84f;
	padding: 1em;
	display: flex;
	place-content: center;
	gap: 10px;
	border-radius: 1em;
	font-size: 1.25rem;
	font-weight: 700;
	color: white;
	width: max-content;
	transform: scale(1);
	transition: transform 200ms ease-out, background-size 200ms ease-out;
	background-size: 100%;
	cursor: pointer;
	position: fixed;
	bottom: 50px;
}

.collapseTransition {
	transition: height 300ms cubic-bezier(0.76, 0, 0.24, 1);
}

.fastCollapseTransition {
	transition: height 200ms ease;
}

.chevronIcon {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: flex;
	cursor: pointer;
	border: 1px solid #ffffff1f;
	aspect-ratio: 1;
	border-radius: 5px;
	align-items: center;
	transition: background-color 200ms ease-out;
}

.activeChevron {
	background-color: #6558ee;
}

.chevronIcon svg {
	transform: rotate(0deg);
	stroke: white;
	transition: all 300ms ease-out;
}

.rotate svg {
	transform: rotate(180deg) !important;
}

.main {
	width: 100%;
	max-width: 800px;
	margin: 50px auto;
}

.collapseContainer {
	border: 1px solid #ffffff1f;
	border-radius: 10px;
	background-color: #232f43;
	padding: 20px;
}

@media (min-width: 920px) {
	.wrapper {
		--padding: 30px;
	}

	.main {
		margin: 100px 0;
	}

	.title {
		font-size: 3.725rem;
		margin: 20px 0 40px 0px;
	}

	.header svg {
		margin-bottom: 10px;
	}
}

.collapseHeader {
	font-size: 1.125rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.collapseContent {
	color: #cbd5e1;
	padding: 30px 0 0 0;
	line-height: 1.75;
	display: block;
}

.navigation {
	max-width: 800px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.range {
	display: grid;
	gap: 10px;
	max-width: 200px;
	justify-items: center;
	margin: auto;
	margin-bottom: 40px;
}

.range label {
	font-weight: 700;
}

.flexContainer {
	display: flex;
	place-content: center;
	flex-direction: column;
	align-items: center;
}
