* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
}

body {
	justify-content: center;
	padding: 30px;
	width: 100%;
	min-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#root {
	width: 100%;
}

.transition {
	transition: height 300ms ease-out;
}

section {
	margin-bottom: 60px;
}
